<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Primary Meta Tags -->
        <title>{{ title }} - {{ tagline if tagline else site.title }}</title>
        <meta name="title" content="{{ title }} - {{ tagline if tagline else site.title }}">
        <meta name="description" content="{{ description }}">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ url }}">
        <meta property="og:title" content="{{ title }} - {{ tagline if tagline else site.title }}">
        <meta property="og:description" content="{{ description }}">
        <meta property="og:image" content="https://res.cloudinary.com/segbedji/image/upload/v1640418598/11tybase/11tybase_nxv8gz.png">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="{{ url }}">
        <meta property="twitter:title" content="{{ title }} - {{ tagline if tagline else site.title }}">
        <meta property="twitter:description" content="{{ description }}">
        <meta property="twitter:image" content="https://res.cloudinary.com/segbedji/image/upload/v1640418598/11tybase/11tybase_nxv8gz.png">
    </head>
    <body>
        {{ content | safe }}
    </body>
</html>