---
layout: "layouts/base.njk"
title: "Page not found"
description: "Page not found"
eleventyComputed:
  indexation: "noindex"
permalink: "404.html"
---

<section>
    <h1>Page not found</h1>
    <a href="/">Return to home page</a>
</section>
